// Fonts
//------------------------------------------------------------------------------
// Font imports
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,200;1,400&family=Roboto&display=swap');

$font-branding: 'Poppins', sans-serif;
$font-headline: 'Roboto', sans-serif;
$font-sans: 'Roboto', sans-serif;

// Colors
//------------------------------------------------------------------------------
// Classic Dark Theme
$masthead-background: #02568B;
$main-homepage-background: $white;
$main-homepage-icon-color: #02568B;
$main-homepage-icon-border: #02568B;
$main-page-text-color: #013243;
$main-page-btn-color: $gray-45;
$search-container-background: $gray-90;
$search-container-hover: $white;
$btn-homepage-background: $white;
$btn-homepage-border: $black;
$btn-default-background: $white;
$btn-default-background-hover: $accent;
$btn-default-border: $black;
$btn-default-text-color: $black;
$btn-default-text-hover: $black;
$btn-user-initial: $gray-50;
$elem-link-color: $gray-50;
$elem-active-link-color: $gray-50;
$elem-link-accent: $accent;
$nav-text-color: $gray-40;

